/* * {
  border: 1px solid red !important;
}*/

:root {
  --my-red: #ff1e00;
  --main-color: white;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.profile-image:hover + .image-overlay,
.image-overlay:hover {
  opacity: 1;
}
#profile-img-1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.icon-white {
  color: #aaa;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.text-white {
  color: white !important;
}

.about-grids {
  border-bottom: 3px solid var(--my-red);
  padding-bottom: 2em;
}

.about-grid:hover a {
  background: var(--my-red);
}

.about {
  background: var(--main-color);
  padding-left: 10%;
  padding-right: 10%;
}

.lastest-works {
  background: var(--main-color);
}

.main-image {
  width: 70%;
  height: auto;
}

.nav-img {
  background: #dedde1;
  text-align: left;
  padding: 0.5% 1%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.cir {
  padding-right: 0.25%;
}

.cir-red {
  color: #f96256;
}

.cir-yellow {
  color: #fdbc3d;
}

.cir-green {
  color: #33c948;
}

.div-img {
  /*position: relative;*/
  text-align: center;
  color: white;
  background: black;
  border-radius: 6px;
  padding-bottom: 3%;
}

.pad-terminal {
  padding: 0 3%;
}

.pad-terminal p {
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}


.view{
  color: #35f4dd;
  font-family: "Source Code Pro", "monospace";
  font-size: medium;
  margin-left:   10px;
  border: 2px whitesmoke solid;
  padding: 2px;
  border-radius: 30%;
  text-decoration: none;
}
.top-left {
  text-align: left;
  margin-top: 2%;
  font-size: 0.3em;
}

.about p {
  text-transform: none;
  margin-left: 0;
  margin-right: 0;
}

.p-space {
  margin-bottom: 15px !important;
  color: #e7bb7e !important;

}

.p-space a {
  color: #35f4dd;
}

.about .my-name span {
  background: var(--my-red);
  /*-webkit-animation: pulse 1s infinite;*/
}

.final-info span {
  background: var(--main-color);
}

.holder img {
  filter: none;
  
}

.last-header h5 {
  background: var(--my-red);
  font-family: "gandhi_sansregular";
}

.last-header h3 {
  color: var(--my-red);
}

.sub-header {
  text-align: center;
}

.sub-header h5 {
  background: white;
  font-family: "gandhi_sansregular";
}

.sub-header h3 {
  color: black;
  text-transform: none;
}

.my-name {
  color: var(--my-red);
  font-size: 58px;
  margin-bottom: 0.5%;
  font-family: "Source Code Pro", monospace;
  text-align: left;
}

.my-name .social {
  font-size: 50px;
  color: black;
  margin-top: 2%;
}

#intro{
  margin-top: 2%;
}
#experience{
  margin-top: 2%;
}
#certificate{
  margin-top: 2%;
  margin-bottom: 2%;
}
.img-demo {
  /* 402 x 260 */
  width: 402px;
  height: 200px;
}

.go-top a:hover {
  background: var(--my-red);
}

.social-icons,
.social-icons2 {
  display: flex;
  justify-content: space-around;
  font-size: smaller;
}

.social-icons p a {
  color: white;
}

.social-icons2 p a {
  color: black;
}

.user {
  font-family: "gandhi_sansregular";
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user .tech i {
  text-align: center;
}

.my-email {
  font-family: "gandhi_sansregular";
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.my-email a {
  color: white;
}

.copy-right {
  color: white;
}

.go-top {
  background-color: white;
  width: 100%;
}

.devicon-project {
  font-size: 2.5rem;
}

.go-top a {
  padding: 8px 8px;
  font-size: 0.7em;
}

@media only screen and (min-width: 100px) and (max-width: 270px) {
  .go-top p i {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 100px) and (max-width: 319px) {
  .go-top h3 {
    margin-top: 1px;
    padding-bottom: 1px;
    font-size: 1em;
  }

  .go-top p {
    line-height: 1em;
  }

  .go-top a {
    padding: 3px 3px;
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
  .top-left {
    margin-top: 7%;
  }

  .go-top h3 {
    margin-top: 0px;
  }

  .go-top p {
    font-family: "gandhi_sansregular";
    font-size: 0.7em;
    line-height: 1em;
  }

  .my-email a {
    font-size: 0.8em;
  }

  .my-name {
    font-size: 50px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 616px) {
  .go-top h3 {
    margin-top: 1px;
    padding-bottom: 1px;
    font-size: 1em;
  }

  .go-top p {
    line-height: 1em;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .about {
    padding-left: 5%;
    padding-right: 5%;
  }

  .pad-terminal p {
    font-size: 17px;
  }

  .my-name {
    font-size: 44px;
  }

  .user {
    text-align: center;
    font-size: 50px;
  }

  .go-top h3 {
    margin-top: 10px;
}
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  .go-top h3 {
    margin-top: 1px;
    padding-bottom: 1px;
    font-size: 1em;
  }

  .go-top p {
    line-height: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .go-top h3 {
    margin-top: 10px;
  }

  .go-top p {
    line-height: 1.5em;
  }
}



.history-tl-container{
  font-family: "Roboto",sans-serif;
width:50%;
margin:auto;
display:block;
position:relative;  
}
.history-tl-container ul.tl{
  margin:20px 0;
  padding:0;
  display:inline-block;

}
.history-tl-container ul.tl li{
  list-style: none;
  margin:auto;
  margin-left:200px;
  min-height:50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left:1px dashed #e7bb7e !important;
  padding:0 0 50px 30px;
  position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
  position: absolute;
  left: -11px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #e7bb7e !important;
  height: 20px;
  width: 20px;
  transition: all 100ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
  border-color:  #e7bb7e !important;
  transition: all 1000ms ease-in-out;
}
/* ul.tl li .item-title{
} */
ul.tl li .item-detail{
  color:rgba(0,0,0,0.5);
  font-size:12px;
}
ul.tl li .timestamp{
  color: white;
  position: absolute;
  left: -50%;
  text-align: right;
  font-size: large;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
} */

/* h1 {
  text-align: center;
} */

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}
ul li .tStack{
  color: #e7bb7e;
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}
